
@media screen and (max-width:2946px){
    .list-1 li{
        margin-left: 200px;
    }
    .contact-container .right-side-form{
       text-align: center;
    }
}
@media screen and (max-width:1440px){
    .list-1 li{
        margin-left: 30px;
    }
    .contact-container{
        border:1px solid white;
        width:auto;
    }


}
@media screen and (max-width:1124px) {
    .list-1{
        display: none;
    }
    .menu i{
        display: block;
    }
    .list-2{
        width: 440px;
    }
    .about-container .left-side-2 h4 span{
        margin-left: 0px;
    }
}
/*!----*/
 @media screen and (max-width:1099px) {
    .contact-container .right-side-form{
        padding: 0px;
    }
 }

 /*!--*/
 @media screen and (max-width:1086px){
    .contact-container .left-side-contact{
        margin-bottom: 20px;
        width: 50%;
    }
    .contact-container .right-side-form{
        margin-bottom: 20px;
        width: 50%;
    }
    .contact-container .right-side-form input{
         width: 420px;
    }
    .contact-container .right-side-form .submit button {
        width: 420px;
    }

    .contact-container .right-side-form .text-area textarea {
        width: 420px;
 }
}

 @media screen and (max-width:1032px) {
    .contact-container .left-side-contact{
        width:45%;
        padding: 20px;
    }
    .contact-container .right-side-form{
        width: 55%;
        padding: 20px;
    }
 }

@media screen and (max-width:1036px) {
    .about-container .left-side-2{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }


    .about-container .right-side-2 ,p{
        width: 100%;
        display: block;
    }
    
}

@media screen and (max-width:1024px) {
    .contact-container .left-side-contact{
        
        padding: 20px;
    }
    .contact-container .right-side-form{
       text-align: center;
        padding: 20px;
    }
    
}


@media screen and (max-width:975px) {
    .contact-container .left-side-contact{
        width:100%;
        padding:50px;
        
    }

    .contact-container .right-side-form{
        width: 100%;
        padding: 0px;
    
    }
    .contact-container .right-side-form input{
        width: 500px;
   }
   .contact-container .right-side-form .submit button {
       width: 500px;
   }

   .contact-container .right-side-form .text-area textarea {
       width: 500px;
}
    
}
 @media screen and (max-width:886px) {
    .education-content .edu-common{
        width: 50%;
 }
 }
 
@media screen and (max-width:832px){
    .maincontainer-1 .left-side-1{
        width: 100%;
        display: block;
        margin-top: 18px;
    }

}

@media screen and (max-width:806px) {
    .skill-content{
    width: 500px;
    margin: 20px auto;
    }
    
}

@media screen and (max-width:720px) {
    .main-proj-content .left-side-port{
        margin-bottom:30px;
        width:100%;
    }
    .main-proj-content .right-side-port{
        width:100%;
        margin-top: 40px;
    }
}

@media  screen and (max-width:709px) {
    .education-content .edu-common{
        width: 100%;
    }
    
}


@media screen and (max-width:600px) {
    .nav{
        width: 100%;
    }
    .skill-content{
        width: 450px;
    }
    .contact-container .right-side-form input{
         width: 400px;
    }
    .contact-container .right-side-form .text-area textarea{
        width: 400px;
    }
    .contact-container .right-side-form .submit button{
        width: 400px;
    } 
    .contact-container .left-side-contact{
        padding: 20px;
    }
}
    
@media screen and (max-width:534px){
    .about-container .left-side-2{
        padding: 2px;
    }
    .about-container{
        padding: 5px;
    }
    .about-container .left-side-2 h4{
        font-size: 20px;
    }
    .about-container .left-side-2 h4 span{
        font-size: 20px;
    }
    
}

@media screen and (max-width:456px) {
    .skill-content{
        width: 360px;
        margin:0 auto;
        padding: 5px;
    }
    .skill-content .progress-line{
        width: 300px;
       }
       .skill-content .html-sec{
        margin: 0px;
       }
       .skill-content .html-sec .common-img{
        display: inline-block;
       }
       .html-sec .score-1-1{
        width: 280px;
       }
       .html-sec .score-2-2{
        width:260px ;
       }
       .html-sec .score-3-3{
        width:250px;
       }
       .progress-line .progress-color-1{
               width: 250px;
       }
       .progress-line .progress-color-2{
        width: 238px;
       }
       .progress-line .progress-color-3{
        width: 225px;
       }
       .maincontainer-1 {
        padding: 10px;
       }
       .about-container {
        padding: 5px;
       }
       .education-content{
        margin: 0px;
       }
       .contact-container .left-side-contact{
        padding: 10px;
       }
       .contact-container .right-side-form input{
        width: 300px;
   }
   .contact-container .right-side-form .text-area textarea{
       width: 300px;
   }
   .contact-container .right-side-form .submit button{
       width: 300px;
   } 
   .left-side-contact .contact-num .contact-icon {
    margin-right:8px;
   }
   .left-side-contact .email .email-icon{
    margin-right: 5px;
   }
   .left-side-contact .location-content .location-icon{
    margin-right: 8px;
   }
}

@media screen and (max-width:425px) {
    .about-container .left-side-2{
        margin:3px;
        border: none;
    }
    .left-side-contact .email .email-icon{
        font-size: 12px;
    }
    .left-side-contact .contact-num .contact-icon{
        font-size: 12px;
    }
    .left-side-contact .location-content .location-icon{
        font-size: 12px;
    }
    .left-side-contact .mail-id p{
        font-size: 15px;
    }
    .left-side-contact .number p{
        font-size: 15px;
    }
    .left-side-contact .location-name p{
        font-size: 15px;
    }
    .logo h1{
        font-size: 35px;
    }
    .nav{
       padding: 20px;
    }
     .logo .contact-heading{
        font-size: 40px;
     }

    
}

@media  screen and (max-width:380px) {
    .right-side-1 .vignesh-img{
        height:230px;
        width: 230px;
    }
    .maincontainer-1 h2{
        font-size: 26px;
    }
    .maincontainer-1 .front{
        font-size: 26px;
    }
    .maincontainer-1 .name{
        font-size: 30px;
    }
    .maincontainer-1 .its{
        font-size: 26px;
    }
    .maincontainer-1 p{
        font-size: 20px;
    }
    .maincontainer-1 h3{    
        font-size: 26px;
    }
    
}

@media  screen and (max-width:370px){
    .about-container .left-side-2{
       padding: 0px;
    }
    .about-container .left-side-2 h4{
        font-size: 20px;
        letter-spacing: 0px;
    }
    .skill-content{
        width: 88%;
       
    }
    .html .fa-brands, .css .fa-brands, .js .fa-brands{
        font-size: 50px;
    }
.html-sec .common-img{
    margin-top : 10px;
}
.Education-name h1,.edu{
    font-size: 30px;
}
.menu .fa-solid{
    font-size: 30px;
}
}

@media screen and (max-width:364px){
    .contact-container{
        margin: 0 3px;
        border: none;
    }
    .skill-content {
        border: none;
        width: 280px;
    }
    .main-proj-content{
        padding: 0px;
    }
    .main-proj-content .port-img img {
        height: 200px;
        width: 200px;
    }
    .main-proj-content .first{
        width: 200px;
    height: 200px;
    }
    .main-proj-content .first-hover{
        width: 200px;
        height: 200px;
    }
    .main-proj-content .left-side-port .port-img{
        width: 200px;
        height: 200px;
    }
    .main-proj-content .right-side-port .second{
        width: 200px;
        height: 200px;
    }
    .main-proj-content .right-side-port .port-img{
        height: 200px;
        width: 200px;
       }
       .main-proj-content .right-side-port .port-img img {
        height: 200px;
        width: 200px;
       }
       .main-proj-content .right-side-port .second-hover{
        height: 200px;
        width: 200px;
       }
       .main-proj-content .first-hover h1{
        font-size: 25px;
        margin: 5px 0;
       }
       .main-proj-content .first-hover .port-para p{
        font-size: 15px;
       }
       .main-proj-content .first-hover .port-para button{
        height: 30px;
        width: 100px;
       }
       .main-proj-content .first-hover .port-para button a{
        font-size: 18px;
       }
       .main-proj-content .right-side-port .second-hover h1{
        font-size: 15px;
        margin:8px 0px 10px;
       }
       .main-proj-content .right-side-port .second-hover{
        padding: 10px;
       }
       .main-proj-content  .right-side-port .second-hover .port-para p{
        font-size: 15px;
        margin-bottom: 15px;
       }
       .main-proj-content .second-hover .port-para button{
        height: 30px;
       }
}


/*@media screen and (max-width:550px){
    .about-container .left-side-2 {
        width:100%;
    }
    .about-container{
        margin:0;
    }
    .about-container .left-side-2 h4 span{
        margin-left: 0px;
    }
}

@media  screen and (max-width:534px) {
    .about-container{
        padding: 0;
    }
}


@media screen and (max-width:500px) {
    .list-2{
        width: 100%;
    }
}

@media  screen and (max-width:446px) {
    .education-content .edu-common{
        width: 100%;
    } 
}*/