*{
    margin: 0;
    padding: 0;

}
body{
    font-family: poppins;
}
header{
    background-color: #c0dfe7;
    height: 100px;
    border-radius: 20px;
    margin:10px 10px;
    border: 2px solid darkgreen;
    box-shadow: 2px 2px 10px green;
}
header h1{
    color: #014122;
    text-align: center;
    padding: 25px;
    font-weight: 800;
    font-size: 40px;
}
.same{
    background-color: #8aaae5;
}
.img{
   text-align: center;
   
}
.same img{
    border-radius: 20px;
    box-shadow: 2px 2px 15px white, 2px 2px 15px white, 2px 2px 15px white;
    margin-bottom: 10px;
}
.content{
    border: 2px solid darkgreen;
    box-shadow: 2px 2px 10px green;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
}
.same h3{
    color: #7D0A0A;
    padding:20px 40px ;
    font-weight:bold;
    text-decoration: underline;
    font-size: 25px;
    
}
.same p{
    padding: 10px 40px;
    text-align: justify;
    text-indent: 50px;
    color:black;
    font-weight: 500;
    font-size: 22px;
    width: 90%;
}